body {
  margin: 0;
  min-height: 100vh;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  background-image: url('background.png');
   background-size: cover;      
  background-repeat: no-repeat; 
  background-position: center;
}
.navbar {
  display: flex;
  justify-content: flex-end; 
  border-bottom: 1px solid #ddd;
  padding: 0 40px;
}
.navbar a {
  text-decoration: none;
  padding-right:10px;
  color: #D6536D;
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

.navbar a:hover {
  color:#be4961;
  font-size:15px;

}
.navbar ul {
  list-style: none;
  margin: 0;
  padding: 20px 40px;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #ddd;
}

main.hero {
  display: flex;            
  align-items: center;      
  gap: 20px;        
  min-height: calc(100vh - 100px); 
  padding-left: 5%;
  padding-top: 0;          
}

.hero-text {
  max-width: 560px;         
}

.hero h1 {
  margin-bottom: 16px;
  font-size: 60px;
  color: #E43D12;
}

.hero h4 {
  margin-top: 0;
  margin-bottom: 24px;
  font-weight: normal;
  color: #E43D12;
}


.sample {
  border-radius:15px;
  border: 3px solid #EFB11D; 
  padding: 20px;            
  background-color: #f5f5f5; 
  width: 400px;           
  height: 500px;           
  overflow-y: auto;     
  margin-left:20%;   
  box-sizing: border-box; 
}
button {
  border-radius: 10px;
  border: 2px solid #D6536D;              
  font-size: 16px;                 
  font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
  padding: 10px 20px;                   
  background-color: #D6536D;             
  color: white;                        
  cursor: pointer;                     
  transition: all 0.3s ease;          
}

button:hover {
  background-color: #D6536D;              
  color: white;                        
  transform: scale(1.05);              
  box-shadow: 0 4px 10px rgba(0,0,255,0.2);
}